<span ng-init="val5 = 5;"></span>
<span ng-init="val4 = 4;"></span>
<span ng-init="val3 = 3;"></span>
<span ng-init="val2 = 2;"></span>
<span ng-init="val1 = 1;"></span>
<div class="container" id="announcement" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
              <h4>
                  <span class="label label-primary">{{announcementVm.announcement.type}}</span>
                  <small class="pull-right">Datum objavljivanja: {{announcementVm.announcement.dateAnnounced | date:'dd. MM. yyyy.' }} godine</small></h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-1" style="padding: 0px;" ng-mouseleave="announcementVm.hoverOut('announcement')" ng-mouseover="announcementVm.hoverIn('announcement')">
                    <div class="average-rating" ng-show="announcementVm.averageRating.announcement">
                        <p>{{announcementVm.votes.announcement.average | number: 1}}</p>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                    <div class="average-rating count-votes" ng-show="!announcementVm.averageRating.announcement">
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncementGrouped[5] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val5" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncementGrouped[4] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val4" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncementGrouped[3] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val3" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncementGrouped[2] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val2" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncementGrouped[1] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val1" readonly="true" max="5"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-11">
                    <h1>
                        <span ng-show="announcementVm.announcement.verified == '1'" class="glyphicon glyphicon-ok-circle color-success"></span>
                        <span id="announcement-name-value">{{announcementVm.announcement.name}}</span>

                        <button id="update-announcement" type="button" class="btn btn-default pull-right" ng-if="announcementVm.isMyAdvertisement" ui-sref="updateAnnouncement({announcementId: announcementVm.announcement.id})">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Ažuriraj oglas
                        </button>
                    </h1>
                    <h6>{{announcementVm.address.city + ' (' + announcementVm.address.cityRegion + ')' + ', ' + announcementVm.address.country}}</h6>

                    <span ng-if="announcementVm.isAnnouncementMarkEnabled">
                        Vaša ocjena:
                        <div class="star-rating" style="margin-left: -6px" ng-model="announcementVm.rating.announcement" readonly="!announcementVm.isAnnouncementMarkEnabled" data-max="5" star-rating on-rating-select="announcementVm.voteAnnouncement(rating)"></div>
                    </span>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Tip nekretnine
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.type}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-euro"></span>
                    Cijena
                    <p class="announcement-info">{{announcementVm.announcement.price}} BAM</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-fire"></span>
                    Vrsta grijanja
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.heatingType}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    Površina
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.area}} m<sup>2</sup></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div>{{re}}</div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon-modal-window"></span>
                    Klima uređaj
                    <p class="announcement-info">
                      <span ng-show="announcementVm.announcement.realEstate.airConditioner == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.airConditioner == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    Kablovska TV
                    <p class="announcement-info">
                      <span ng-show="announcementVm.announcement.realEstate.cabletv == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.cabletv == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    Interfon
                    <p class="announcement-info">
                      <span ng-show="announcementVm.announcement.realEstate.intercom == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.intercom == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon-signal"></span>
                    Internet
                    <p class="announcement-info">
                      {{re.internet}}
                      <span ng-show="announcementVm.announcement.realEstate.internet == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.internet == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-phone-alt"></span>
                    Telefon
                    <p class="announcement-info">
                      <span ng-show="announcementVm.announcement.realEstate.phone == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.phone == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    Video nadzor
                    <p class="announcement-info">
                      <span ng-show="announcementVm.announcement.realEstate.videoSurveillance == '1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span ng-hide="announcementVm.announcement.realEstate.videoSurveillance == '1'" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <hr/>
            <div>
              <uib-tabset type="pills">
                  <uib-tab heading="Galerija slika">
                    <div uib-carousel active="active" interval="5000" no-wrap="false" style="margin-top: 10px;">
                      <div uib-slide ng-repeat="slide in announcementVm.images track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%;">
                      </div>
                    </div>
                  </uib-tab>

                  <uib-tab heading="Prikaži na mapi" select="announcementVm.initMap();">
                      <div id="map" style="height:400px; width:100%; margin-top: 10px;"></div>
                  </uib-tab>
              </uib-tabset>
            </div>
            <h4>Detaljan opis oglasa</h4>
            <div ng-bind-html="announcementVm.announcement.description"></div>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <div class="advertiser-info" style="margin-bottom: 10px;"
              ng-init="company = announcementVm.announcement.author.company" ng-if="announcementVm.announcement.author.companyVerified">
                <img ng-src="{{company.imagePath}}" alt="..." width="192px" height="96px" class="img-thumbnail" style="margin-top: 5px;">
                <h4>{{company.name}}</h4>
                <p>{{company.address}}</p>
            </div>

            <div class="advertiser-info">
                <img ng-src="{{announcementVm.announcement.author.imagePath}}" alt="..." width="96px" height="96px" class="img-circle" style="margin-top: 5px;">
                <h4>{{announcementVm.announcement.author.firstName + ' ' + announcementVm.announcement.author.lastName}}</h4>

                <span ng-if="announcementVm.announcement.author.companyVerified" class="label label-success">Verifikovan</span>
                <span ng-if="!announcementVm.announcement.author.companyVerified" class="label label-warning">Nije verifikovan</span>

                <div style="text-align: center;" ng-mouseleave="announcementVm.hoverOut('announcer')" ng-mouseover="announcementVm.hoverIn('announcer')">
                    <div class="average-rating" ng-show="announcementVm.averageRating.announcer">
                        <p>{{announcementVm.votes.announcer.average | number: 1}}</p>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                    <div class="average-rating count-votes" style="margin-left: 35%;" ng-show="!announcementVm.averageRating.announcer">
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncerGrouped[5] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val5" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncerGrouped[4] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val4" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncerGrouped[3] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val3" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncerGrouped[2] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val2" readonly="true" max="5"></div>
                        </div>
                        <div class="row">
                            <div class="vote-no">{{announcementVm.votesAnnouncerGrouped[1] || 0}}</div>
                            <div star-rating class="star-rating" ng-model="val1" readonly="true" max="5"></div>
                        </div>
                    </div>
                </div>
                <span ng-if="announcementVm.isAnnouncerMarkEnabled">
                    Vaša ocjena:
                    <div star-rating class="star-rating" ng-model="announcementVm.rating.announcer" readonly="!announcementVm.isAnnouncerMarkEnabled" max="5" on-rating-select="announcementVm.voteAnnouncer(rating)"></div>
                </span>

                <!-- Dodatne informacije -->
                <div class="row advertiser-additional-info">
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon glyphicon-earphone"></span>
                    </div>
                    <div class="col-sm-11">
                        <p>{{announcementVm.announcement.author.phoneNumber}}</p>
                    </div>
                </div>
            </div>

            <div    uib-tooltip="Ne možete ponovo prijaviti isti oglas, sve dok se prethodna prijava ne razriješi!"
                    tooltip-placement="top"
                    tooltip-trigger="'mouseenter'"
                    tooltip-enable="announcementVm.alreadyReported"
                    ng-if = "announcementVm.announcement.verified == 'not-verified' && !announcementVm.isMyAdvertisement"
                    ng-show="announcementVm.announcement.verified == 'not-verified' && announcementVm.$storage.role != 'verifier'">
                <button type="button" class="btn btn-danger btn-report" ng-disabled="announcementVm.alreadyReported" ng-click="announcementVm.reportAnnouncement()">
                    <span class="glyphicon glyphicon-thumbs-down color-white"></span>
                    Prijavi oglas
                </button>
            </div>
            <div ng-show="announcementVm.announcement.verified == 'not-verified' && announcementVm.$storage.role == 'verifier'">
                <button id="verify-button" type="button" class="btn btn-success btn-report" ng-click="announcementVm.verifyAnnouncement()">
                    <span class="glyphicon glyphicon-thumbs-up color-white"></span>
                    Verifikuj
                </button>
            </div>
            <span ng-show="announcementVm.announcement.verified == 'verified'" class="label label-success">Verifikovan oglas</span>
        </div>
    </div>

    <h3 ng-show="announcementVm.comments.length == 0">Niko još nije ostavio komentar... Budite prvi... </h3>
    <h2 ng-show="announcementVm.comments.length > 0">Komentari</h2>

    <div class="row" style="margin-top: 20px;" ng-repeat="comment in announcementVm.comments">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" ng-src="{{comment.author.image}}" width="48px" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">
                    {{comment.author.name}}
                    <button type="button" class="btn btn-link pull-right" ng-show="comment.isMy && announcementVm.editing == undefined"
                      ng-click="announcementVm.deleteComment(comment.id)">
                        <span class="glyphicon glyphicon-remove color-danger"></span>
                    </button>
                    <button type="button" class="btn btn-link pull-right" ng-show="comment.isMy && announcementVm.editing == undefined"
                      ng-click="announcementVm.editing = comment.id">
                        <span class="glyphicon glyphicon-pencil color-gray"></span>
                    </button>
                </h5>
                <h6>Objavljen: {{comment.date | date:'dd. MM. yyyy.'}}</h6>
                <p ng-if="!(comment.isMy && announcementVm.editing == comment.id)">{{comment.content}}</p>
                <textarea id="comment-edit" class="form-control" rows="5"
                    ng-init="announcementVm.editedComment = comment.content"
                    ng-model="announcementVm.editedComment"
                    ng-if="comment.isMy && announcementVm.editing == comment.id"
                    ng-keydown="announcementVm.cancel($event)">
                </textarea>
                <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" ng-if="comment.isMy && announcementVm.editing == comment.id"
                  ng-click="announcementVm.updateComment(comment);">
                    Sačuvaj izmjene
                </button>
            </div>
        </div>
    </div>

    <h2>Napišite Vaše mišljenje</h2>
    <textarea id="comment" class="form-control" rows="5" ng-model="announcementVm.comment"></textarea>
    <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" ng-click="announcementVm.addComment();">
        Ostavi komentar
    </button>
</div>