<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                  <span class="glyphicon glyphicon-calendar"></span> Objavljen: {{announcementVm.announcement.dateAnnounced}}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <h1><span class="label label-primary">{{announcementVm.announcement.type}}</span> {{announcementVm.announcement.realEstate.name}} <span class="glyphicon glyphicon-ok-circle pull-right color-success"></span></h1>
            <h3>{{announcementVm.announcement.address}}</h3>
            <hr/>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Tip nekretnine
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.type}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-euro"></span>
                    Cijena
                    <p class="announcement-info">{{announcementVm.announcement.price}} BAM</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-fire"></span>
                    Vrsta grijanja
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.heatingType}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    Površina
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.area}}m<sup>2</sup></p>
                </div>
            </div>
            <hr/>
            <div>
              <uib-tabset type="pills">
                  <uib-tab heading="Galerija slika">
                    <div uib-carousel active="active" interval="5000" no-wrap="false" style="margin-top: 10px;">
                      <div uib-slide ng-repeat="slide in announcementVm.images track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%;">
                      </div>
                    </div>
                  </uib-tab>

                  <uib-tab heading="Prikaži na mapi" select="announcementVm.initMap()">
                      <div id="map" style="height:400px; width:100%; margin-top: 10px;"></div>
                  </uib-tab>
              </uib-tabset>
            </div>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <div class="advertiser-info">
                <img src="http://img.uefa.com/imgml/TP/players/9/2016/324x324/93649.jpg" alt="..." width="96px" height="96px" class="img-circle" style="margin-top: 5px;">
                <h4>{{announcementVm.announcement.author.firstName + ' ' + announcementVm.announcement.author.lastName}}</h4>
                <p>{{announcementVm.announcement.author.email}}</p>
                <span ng-if="announcementVm.announcement.author.companyVerified" class="label label-success">Verifikovan</span>
                <p><i class="glyphicon glyphicon-earphone"></i>{{announcementVm.announcement.author.telephoneNo}}</p>
            </div>

            <button type="button" class="btn btn-danger btn-report">
                <span class="glyphicon glyphicon-thumbs-down color-white"></span>
                Prijavi oglas
            </button>
            <button type="button" class="btn btn-danger btn-report">
                <span class="glyphicon glyphicon-thumbs-down color-white"></span>
                Prijavi oglašavača
            </button>
        </div>
    </div>

    <h2>Komentari</h2>
    <div class="row" class="margin-top: 20px;">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="http://img.uefa.com/imgml/TP/players/3/2016/324x324/250063984.jpg" width="48px" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Napunicemo Atletiko u 93. minutu opet! hehe
            </div>
        </div>
    </div>
</div>