<div nv-file-drop="" uploader="announcementFormVm.uploader" class="container" style="margin-top:25px; margin-bottom:20px;">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-6 col-md-offset-1">
            <h3 style="margin-top:0px; margin-bottom:17px;"> Novi oglas </h3>

            <div style="text-align: center;" style="margin-top:20px; padding-top:15px;">
                <form role="form" ng-submit="announcementFormVm.addAnnouncement();">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-home"></i></span>
                            <input type="text" ng-model="announcementFormVm.announcement.name" placeholder="Naziv..." class="form-control" id="ann-name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="announcementFormVm.announcement.type" uib-btn-radio="'buy'" uib-uncheckable="uncheckable">Kupovina</label>
                            <label class="btn btn-primary" ng-model="announcementFormVm.announcement.type" uib-btn-radio="'sell'" uncheckable>Prodaja</label>
                            <label class="btn btn-primary" ng-model="announcementFormVm.announcement.type" uib-btn-radio="'rent'" uncheckable>Iznajmljivanje</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="text" ng-model="announcementFormVm.announcement.phoneNumber" placeholder="Broj telefona..." class="form-control"
                                id="ann-phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-eur"></i></span>
                            <input type="number" ng-model="announcementFormVm.announcement.price" placeholder="Cena..." class="form-control" id="ann-phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <p class="input-group">
                            <span class="input-group-addon" id="basic-addon1"> Važi do: </span>
                            <input type="text" class="form-control" uib-datepicker-popup="{{announcementFormVm.dateFormat}}" ng-model="announcementFormVm.announcement.expirationDate"
                                is-open="announcementFormVm.popup.opened" datepicker-options="announcementFormVm.dateOptions"
                                ng-required="true" close-text="Zatvori" clear-text="Obriši" alt-input-formats="announcementFormVm.altInputFormats"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="announcementFormVm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>

                    <button type="submit" class="btn btn-success" style="margin-top:18px;">Dodaj oglas!</button>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3 style="margin-top:0px; margin-bottom:17px;"> Odaberite slike </h3>
            <div ng-show="announcementFormVm.uploader.isHTML5" style="background: #EEEEEE;">
                <div class="well my-drop-zone" nv-file-over="" style="height:125px; vertical-align:center; border-style: dashed; border-width:4px; position:relative"
                    uploader="announcementFormVm.uploader">
                    <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Zona prevlačenja.</p>
                </div>
            </div>

            <div class="input-group image-preview">
                <div class="btn btn-default image-preview-input">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="image-preview-input-title">Pretraži</span>
                    <input type="file" nv-file-select="" uploader="announcementFormVm.uploader" multiple name="input-file-preview" />
                </div>
                </span>
            </div>

            <br/>
        </div>
    </div>


    <div class="row" style="text-align: center;">
        <div class="col-md-10 col-md-offset-1" style="text-align: center;" style="margin-top:20px; padding-top:15px;">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-10" style="margin-bottom: 40px">
                            <div>
                                Status slanja:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': announcementFormVm.uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <p>Ukupan broj: {{ announcementFormVm.uploader.queue.length }}</p>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">Naziv</th>
                                        <th ng-show="announcementFormVm.uploader.isHTML5">Veličina</th>
                                        <th ng-show="announcementFormVm.uploader.isHTML5">Progres</th>
                                        <th style="text-align:center">Status</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in announcementFormVm.uploader.queue">
                                        <td>
                                            <strong>{{ item.file.name }}</strong>
                                            <div ng-show="announcementFormVm.uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                        </td>
                                        <td style="text-align:left;" ng-show="announcementFormVm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td style="text-align:left;" ng-show="announcementFormVm.uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td style="text-align:center" >
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <span width="50px;"> &nbsp; </span>
                                            <!--button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Postavi
                                            </button-->
                                            <!--button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Prekini
                                            </button-->
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()" ng-disabled="announcementFormVm.uploaded">
                                                <span class="glyphicon glyphicon-trash"></span> Obriši
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <!--button type="button" class="btn btn-success btn-s" ng-click="announcementFormVm.uploader.uploadAll()" ng-disabled="!announcementFormVm.uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Postavi sve
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="announcementFormVm.uploader.cancelAll()" ng-disabled="!announcementFormVm.uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Prekini sve
                                </button-->
                                <button type="button" class="btn btn-danger btn-s" ng-click="announcementFormVm.uploader.clearQueue()" ng-disabled="!announcementFormVm.uploader.queue.length || announcementFormVm.uploaded">
                                    <span class="glyphicon glyphicon-trash"></span> Obriši sve
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>