<div class="container" id="announcement" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                  <span class="glyphicon glyphicon-calendar"></span> Objavljen: {{announcementVm.announcement.dateAnnounced  | date:'dd. MM. yyyy.'}}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <h1><span class="label label-primary">{{announcementVm.announcement.type}}</span> {{announcementVm.announcement.realEstate.name}} <span ng-show="announcementVm.announcement.verified == '1'" class="glyphicon glyphicon-ok-circle pull-right color-success"></span></h1>
            <h3>{{announcementVm.announcement.address}}</h3>
            <div class="star-rating" ng-model="announcementVm.rating.announcement" readonly="!announcementVm.isAnnouncementMarkEnabled" data-max="5" star-rating on-rating-select="announcementVm.voteAnnouncement(rating)"></div>
            <div>{{announcementVm.votes.announcement.average}}/5</div>
            <hr/>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Tip nekretnine
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.type}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-euro"></span>
                    Cijena
                    <p class="announcement-info">{{announcementVm.announcement.price}} BAM</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon glyphicon-fire"></span>
                    Vrsta grijanja
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.heatingType}}</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    Površina
                    <p class="announcement-info">{{announcementVm.announcement.realEstate.area}} m<sup>2</sup></p>
                </div>
            </div>
            <hr/>
            <div>
              <uib-tabset type="pills">
                  <uib-tab heading="Galerija slika">
                    <div uib-carousel active="active" interval="5000" no-wrap="false" style="margin-top: 10px;">
                      <div uib-slide ng-repeat="slide in announcementVm.images track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto; width:100%;">
                      </div>
                    </div>
                  </uib-tab>

                  <uib-tab heading="Prikaži na mapi" select="announcementVm.initMap()">
                      <div id="map" style="height:400px; width:100%; margin-top: 10px;"></div>
                  </uib-tab>
              </uib-tabset>
            </div>
        </div>
        <div class="col-md-3" style="text-align: center;">
            <div class="advertiser-info">
                <img src="http://img.uefa.com/imgml/TP/players/9/2016/324x324/93649.jpg" alt="..." width="96px" height="96px" class="img-circle" style="margin-top: 5px;">
                <h4>{{announcementVm.announcement.author.firstName + ' ' + announcementVm.announcement.author.lastName}}</h4>
                <p>{{announcementVm.announcement.author.email}}</p>
                <div>{{announcementVm.votes.announcer.average}}/5</div>
                <div star-rating class="star-rating" ng-model="announcementVm.rating.announcer" readonly="!announcementVm.isAnnouncerMarkEnabled" max="5" on-rating-select="announcementVm.voteAnnouncer(rating)"></div>
                <span ng-if="announcementVm.announcement.author.companyVerified" class="label label-success">Verifikovan</span>
                <p><i class="glyphicon glyphicon-earphone"></i>{{announcementVm.announcement.author.telephoneNo}}</p>
            </div>

            <div uib-tooltip="Ne možete ponovo prijaviti isti oglas, sve dok se prethodna prijava ne razriješi!"
                    tooltip-placement="top"
                    tooltip-trigger="'mouseenter'"
                    tooltip-enable="announcementVm.alreadyReported">
                <button type="button" class="btn btn-danger btn-report" ng-disabled="announcementVm.alreadyReported" ng-click="announcementVm.reportAnnouncement()">
                    <span class="glyphicon glyphicon-thumbs-down color-white"></span>
                    Prijavi oglas
                </button>
            </div>
        </div>
    </div>

    <h2 ng-show="announcementVm.comments.length > 0">Komentari</h2>
    <div class="row" style="margin-top: 20px;" ng-repeat="comment in announcementVm.comments">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" ng-src="{{comment.author.image}}" width="48px" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">
                    {{comment.author.name}}
                    <button type="button" class="btn btn-link pull-right" ng-show="comment.isMy"
                      ng-click="announcementVm.deleteComment(comment.id)">
                        <span class="glyphicon glyphicon-remove color-danger"></span>
                    </button>
                    <button type="button" class="btn btn-link pull-right" ng-show="comment.isMy"
                      ng-click="announcementVm.editing = comment.id">
                        <span class="glyphicon glyphicon-pencil color-gray"></span>
                    </button>
                </h5>
                <h6>Objavljen: {{comment.date | date:'dd. MM. yyyy.'}}</h6>
                <p ng-if="!(comment.isMy && announcementVm.editing == comment.id)">{{comment.content}}</p>
                <textarea id="comment-edit" class="form-control" rows="5"
                    ng-init="announcementVm.editedComment = comment.content"
                    ng-model="announcementVm.editedComment"
                    ng-if="comment.isMy && announcementVm.editing == comment.id">
                </textarea>
                <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" ng-if="comment.isMy && announcementVm.editing == comment.id"
                  ng-click="announcementVm.updateComment(comment);">
                    Sačuvaj izmjene
                </button>
            </div>
        </div>
    </div>

    <h2>Ostavi komentar</h2>
    <textarea id="comment" class="form-control" rows="5" ng-model="announcementVm.comment"></textarea>
    <button type="button" class="btn btn-primary pull-right" style="margin-top: 10px;" ng-click="announcementVm.addComment();">
        Ostavi komentar
    </button>
</div>