<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">{{headerVm.projectName}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Početna</a></li>
        <li ng-if="headerVm.$storage.role != 'admin'"><a ui-sref="companies">Agencije</a></li>
        <li ng-if="headerVm.$storage.role === 'admin'"><a ui-sref="announcements">Svi oglasi</a></li>
        <li ng-if="headerVm.$storage.role === 'advertiser'"><a id="add-announcement" ui-sref="addAnnouncement">Dodaj oglas</a></li>
        <li ng-if="headerVm.$storage.role === 'advertiser'"><a ui-sref="announcement">Moji oglasi</a></li>
        <li ng-if="headerVm.$storage.role === 'admin' || headerVm.$storage.role === 'verifier'"><a ui-sref="reports">Prijave</a></li>
        <li class="dropdown" ng-if="!(headerVm.$storage.role === 'guest')">
          <a ui-sref="companies" class="dropdown-toggle" data-toggle="dropdown" ng-if="headerVm.$storage.role === 'admin'">Agencije<b class="caret" ng-if="headerVm.$storage.role === 'admin'"></b></a>
          <ul class="dropdown-menu" ng-if="headerVm.$storage.role === 'admin'">
            <li><a ui-sref="companies">Sve agencije</a></li>
            <li><a ui-sref="addCompany">Dodaj novu</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="headerVm.$storage.role === 'guest'">
        <li><a ui-sref="login">Prijavi se</a></li>
        <li><a ui-sref="login">Registruj se</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!(headerVm.$storage.role === 'guest')">
        <li class="dropdown">
          <a id="user-menu" ui-sref="companies" class="dropdown-toggle" data-toggle="dropdown">Ulogovan kao <b>{{headerVm.$storage.user}}</b> ({{headerVm.translateRole(headerVm.$storage.role)}})<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="profile-link" ui-sref="profile({username:headerVm.$storage.user})">Pogledaj profil</a></li>
            <li><a id="logout-link" ng-click="headerVm.logout()">Odjavi se</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>