body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.announcement-home-outside {
  background-color: #eee;
  margin-top: 10px;
}

.announcement-home-inside {
  margin-top: 4px;
}

.color-success {
  color: #5cb85c;
}

.color-warning {
  color: #f0ad4e;
}

.color-danger {
  color: #d9534f;
}

.color-white {
  color: #ffffff;
}

.announcement-info {
  font-size: 18pt;
}

.advertiser-info {
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.btn-report {
  width: 70% !important;
  font-size: 10pt;
  margin-top: 16px;
}

p.company-request {
  padding: 8px 24px;
  font-size: 12pt;
}

p.company-request > span {
  margin-top: 2px;
  font-size: 16pt;
  padding-left: 8px;
}

.profile-heading {
  padding: 20px 0px;
}