body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.announcement-home-outside {
  background-color: #eee;
  margin-top: 10px;
}

.announcement-home-inside {
  margin-top: 4px;
}