<div class="container">
    <div class="profile-heading">
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <img src="http://img.uefa.com/imgml/TP/players/9/2016/324x324/93649.jpg" alt="..." width="192px" height="192px" class="img-circle">
            </div>
            <div class="col-md-8">
                <span class="glyphicon glyphicon-pencil pull-right" style="font-size: 16pt;"></span>
                <h3>Sergio Ramos</h3>
                <h5>sramos</h5>
                <h6>sergioramos@real.com</h6>
                <p>0998-90-9-80909-0-9</p>
            </div>
        </div>
    </div>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Vaši oglasi">
          <p>
              Oglas neki nekako...
              <span class="pull-right color-danger">Ističe danas</span>
          </p>
          <p>
              Oglas neki nekako...
              <span class="pull-right color-danger">Ističe za 2 dana</span>
          </p>
          <p>
              Oglas neki nekako...
              <span class="pull-right color-warning">Ističe za 7 dana</span>
          </p>
          <p>
              Oglas neki nekako...
              <span class="pull-right color-success">Ističe 4. decembra 2016.</span>
          </p>
          <p>
              Oglas neki nekako...
              <span class="pull-right color-success">Ističe 31. decembra 2016.</span>
          </p>
        </uib-tab>

        <!-- Users membership requests logic -->
        <uib-tab index="1">
            <uib-tab-heading>
                Zahtevi &nbsp;<span class="badge"> {{userVm.usersRequests.length}}</span>
            </uib-tab-heading>
            <div class="row" ng-show="userVm.usersRequests.length === 0">
                <p style="margin-left: 100px; margin-top: 20px;"><em>Trenutno nema aktivnih zahteva.</em></p>    
            </div>
            <div class="row" ng-repeat="user in userVm.usersRequests">
                <p class="company-request">
                    <img ng-src="{{user.imagePath}}" alt="{{user.firstName + user.lastName}}" width="36px" height="36px" class="img-rounded">
                    <!-- TODO provide link to user profile -->
                    <a href="#">{{user.firstName + ' ' + user.lastName}}</a> {{ ' (' + user.email + ')'}}
                    <span   class="glyphicon glyphicon-ok pull-right"
                            style="color:seagreen;cursor:pointer;"
                            ng-click="userVm.acceptRequest(user.id);"></span>
                    <span   class="glyphicon glyphicon-remove pull-right" 
                            style="color:darkred;cursor:pointer;"
                            ng-click="userVm.rejectRequest(user.id);"></span>
                </p>
            </div>
        </uib-tab>
    </uib-tabset>
</div>