<div class="container">
    <div class="row">
        <div class="col-md-6 comapny-home-outside" ng-repeat="announcement in vm.announcements">
            <div class="row company-home-inside">
                <div class="col-xs-4">
                    <img ng-src="{{announcement.images[0].imagePath}}" class="thumbnail" />
                </div>
                <div class="col-xs-8" style="height:10em;">
                    <h3 style="margin-top:0px;">{{announcement.name}}</h3>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="home-info-header">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                <p>Lokacija</p>
                            </div>
                            <div class="home-info-body">
                                <small>{{announcement.realEstate.location.city + ' (' + announcement.realEstate.location.cityRegion
                                    + ')' + ', ' + announcement.realEstate.location.country}}</small>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="home-info-header">
                                <span class="glyphicon glyphicon-eur" aria-hidden="true"></span>
                                <p>Cijena</p>
                            </div>
                            <div class="home-info-body">
                                <small>{{announcement.price}}</small>
                            </div>
                        </div>
                    </div>

                    <a ui-sref="announcement({announcementId: announcement.id})" type="button" class="btn btn-primary btn-sm pull-right" style="position:absolute; bottom:0px; right:1em;">Prikaži detalje</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <ul uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page"
        ng-change="vm.transition()"></ul>
</div>