<div class="container" style="margin-top: 10px;">
    <div class="row" style="position:relative">
        <div class="col-xs-12 col-md-6 announcement-home-outside" ng-repeat="company in vm.companies">
            <div class="row announcement-home-inside">
                <div class="col-xs-4">
                    <img ng-src="{{company.imagePath}}" width="100%" class="thumbnail" />
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <h4>                     
                            <div class="top-bid-title" style="max-height: 2.8em; height:2.8em; line-height: 1.4em;">{{company.name}}</div>
                        </h4>
                        <a ui-sref="company.members({companyId: company.id})" type="button" class="btn btn-primary pull-right" style="margin-right:5px; ">Prikaži detalje</a>
                    </div>
                    <div class="row">
                        <div style="width:100%; margin-top:3px;">
                            <span class="glyphicon glyphicon-map-marker" style="float:left; color:#5bc0de;">&nbsp;</span>
                            <p>{{company.address}}</p>
                            <span class="glyphicon glyphicon-earphone" style="float:left; color:#5bc0de;">&nbsp;</span>
                            <p>{{company.phoneNumber}}</p>
                        </div>
                    </div>
                    <span style="height:100%"> &nbsp; </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <ul uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page"
            ng-change="vm.transition()"></ul>
    </div>

</div>